body {
    font-family: sans-serif;
    background: $gray-dark;
    color: #fff;
}

subnode {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#mainView {
    flex: 1;
    background: #fff;
    color: $gray-dark;
    margin-top: 48px;
    padding-bottom: 40px;
}

.loading-title {
    margin: 40px;
}

a {
    cursor: pointer;

    &:hover {
        text-decoration: none;
    }
}

.center {
    display: block;
    margin: auto;
}

.name {
    overflow: hidden;
    max-width: 100%;
}

.refreshBtn {
    font-size: 20px;

    &:before {
        vertical-align: text-top;
    }
}

.ellipsis {
    @include ellipsis();
}

.page-header {
    padding: 70px 5px 9px;
    margin: 0 0 20px;
    border-bottom: 1px solid #eeeeee;

    h1 {
        margin-top: 0;
    }
    .loader {
        font-size: 20px;
    }
}

footer {
    padding: 10px 15px;
    background-color: $gray-dark;
    color: #fff;
    text-align: center;

    img {
        max-height: 30px;
    }
    a {
        color: $light-gray;

        &:hover, &:focus {
            color: darken($gray, 10%);
        }
    }
}

#paramsModal {
    color: $gray-dark;

    .form-control {
        color: $gray-dark;
    }
    .select2 {
        min-width: 100%;
    }
}

img {
    text-align: left; // for alt text
}

img[src^="api/image/poster/"] {
    max-width: 1000px;
    max-height: 1500px;
}

img[src^="api/image/banner/"] {
    max-width: 758px;
    max-height: 140px;
    width: 700px;

    @include media-breakpoint-up(lg) {
        height: 129px;
    }

    background: {
        image: url("../img/generic_banner.jpg");
        position: center;
        size: cover;
    }
}

img[src^="api/image/thumb/"] {
    max-width: 500px;
    max-height: 281px;
}
