loader {
    display: inline-block;
    margin: 10px 6px;
    vertical-align: middle;
    line-height: 20px;
    position: relative;
    width: 26px;
    height: 26px;
    animation: pulse 1s ease-in-out infinite alternate;

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
    }

    canvas {
        width: 100%;
        height: 100%;
        border-radius: 100%;
        padding: 2px;
        position: absolute;
        top: -2px;
    }
}

@keyframes pulse {
    from { opacity: 0.35; }
}
