.navbar{
    padding: 0 25px 0 0;
    box-shadow: 0px 0px 10px #666;
    background: #dbdcdd;

    .paramsBtn {
        padding: 6px 0 0;
        font-size: 25px;
    }
    .navbar-brand{
        float: left;
        padding: 7px 10px 8px 20px;

        img {
            max-height: 35px;
        }
    }
    @media screen and (max-width: 768px) {
        padding-right: 15px;
        .navbar-brand {
            padding: 15px 0;
        }
    }
    .select2 {
        float: left;
        min-width: 250px;
        max-width: 70%;
        margin: 10px 15px;
    }
}

.update-msg {
    text-align: center;
}
