.show {
    .page-header {
        background-size: cover;
        background-position: 50% 10%;
        color: #fff;
        position: relative;
        height: 550px;

        .title-wrapper {
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 1rem;
            background-color: rgba(0,0,0,0.7);
            width: 100%;
        }

        .poster {
            width: 165px;
            display: inline-block;
            vertical-align: bottom;
            position: absolute;
            left: 20px;
            bottom: 20px;
            box-shadow: 0px 0px 10px #000;
        }

        .title {
            text-shadow: 0 0 20px #000;
            display: inline-block;
            margin-left: 185px;
            @include ellipsis();
            max-width: calc(100% - 185px);

            .year {
                color: $gray;
                font-size: 25px;
            }
        }

        img {
            max-width: 100%;
        }

        #overview {
            text-align: justify;
            margin-bottom: 0;
            margin-top: 10px;

            .content {
                padding: 10px;
            }
        }

        @include media-breakpoint-down(sm) {
            height: 220px;

            .poster {
                max-width: 78px;
            }
            .title {
                margin-left: 90px;
                font-size: 1.2rem;
                max-width: calc(100% - 90px);

                .year {
                    font-size: 0.8rem;
                }
            }
        }
    }
    .page-body {
        margin: 0 40px;

        @include media-breakpoint-down(sm) {
            margin: 0 10px;
        }
    }
}

.episode, .subtitle {
    position: relative;
    @include border-radius(0);
    margin: 0;
    padding: 0;
    line-height: 20px;
    overflow: auto;
    width: 100%;
    cursor: pointer;
    border: {
        left: none;
        right: none;
        top: none;
    }
    &:last-child {
        border-bottom: none;
    }
    .tooltip {
        right: -10px;
        top: -25px;

        .tooltip-inner {
            max-width: 100%;
        }
    }
    .popover {
        color: $gray-dark;
    }
    & > i {
        vertical-align: middle;
        margin-left: 10px;
    }
    .name {
        display: block;

        .label {
            font-size: 90%;
            @include border-radius(2px);
        }
        .glyphicon:before {
            vertical-align: baseline;
        }
    }
}

.no-subtitle {
    cursor: default;
}

.episode {
    .episode-header {
        display: flex;
        align-items: center;
    }
    .one-click-dl {
        align-items: center;
        background-color: #fff;
        border-radius: 0;
        padding: 10px;
        margin: 0;
        border: 0;

        i {
            top: -2px;
            margin: 0 6px;
        }

        .title {
            display: inline-block;
            transition: max-width 0.35s;
            max-width: 0;
            overflow: hidden;
            vertical-align: bottom;
        }

        &:hover, &:active {
            .title {
                max-width: 500px;
            }
        }
    }
    .glyphicon-paperclip {
        position: absolute;
        right: 10px;
        top: 10px;
    }
    loader {
        position: absolute;
        margin: 0;
        top: 6px;
        right: 6px;
    }
    .name {
        margin: 0 40px 0 10px;
        padding: 10px 0;
        flex: 1;
    }
}

.episodesList, .seasonsList {
    @include transition(all .5s ease-in-out);

    .glyphicon-filter {
        display: none;
    }
}

.subPackWrapper, .epListWrapper {
    padding: 0;

    & > .panel-heading {
        margin: 0;
        @include ellipsis();
    }
}

.subPackWrapper {
    margin: 6px 0;
    position: relative;
}

.epListWrapper {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.subtitlesList {
    margin: .75rem 0;

    &.disabled {
        .subPackWrapper:before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 1;
            background-color: rgba(0, 0, 0, 0.3);
            cursor: progress;
        }
    }

    .qualite, .qualite5 {
        background-color: #468847;
        color: #fff;
    }
    .qualite4 {
        background-color: #97a305;
        color: #fff;
    }
    .qualite3 {
        background-color: #FFC40D;
        color: #000;
    }
    .qualite2 {
        background-color: #f87c08;
        color: #000;
    }
    .qualite1 {
        background-color: #B94A48;
        color: #fff;
    }
    .success {
        color: #468847;
    }
    .error {
        color: #d9534f;
    }
}
