$brand-primary: #466072;

$border-radius-base: 2px;
$border-radius-large: 2px;
$border-radius-small: 2px;

$panel-footer-bg: #bdc3c7;

$gray-dark: #221e1f; // font color

$enable-flex: true; // use flexbox

$card-border-radius: 0;
