#################
## Misc
#################
**/.DS_Store
nbproject
manifest.mf
build.xml
node_modules/*
npm-debug.log
docs
build
vendor
banners
appParams.json
.tagconfig
server/data/shows/*
server/data/filesList.db
releases

#################
## JetBrains
#################
.idea
.project
.settings
.idea/*
*.iml
subNode

############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

############
## Mac
############

# Mac crap
.DS_Store
