#################
## Misc
#################
**/.DS_Store
nbproject
manifest.mf
build.xml
node_modules
npm-debug.log
docs
build
vendor
banners
.bowerrc
appParams.json
bower-config.json
config.js
app
scripts/production.bat
scripts/production.sh
scripts/server.bat
scripts/server.sh

#################
## JetBrains
#################
.idea
.project
.settings
.idea/*
*.iml
subNode

############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

############
## Mac
############

# Mac crap
.DS_Store
/node_modules
