#################
## Misc
#################
config.json

#################
## JetBrains
#################
.idea

############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

############
## Mac
############

# Mac crap
.DS_Store
