doctype 5
html
    head
        title= title
        each stylesheet in stylesheets
            link(rel='stylesheet', href= stylesheet)
        each script in scripts
            script(type='text/javascript', src= script)
    body
        block content