.episodes li span, .episodes li i {
    cursor: pointer;
}
.episodes li span.label {
    margin: 3px;
    padding: 5px;
}
.episodes .subtitles {
    display: none;
}
.episodes .subtitles.active {
    display: block;
}
.episodes .tooltip-inner {
    max-width: inherit;
}
.subtitles.metro .tile.wide.text {
    height: auto;
    width: auto;
    cursor: default;
}
.subtitles.metro .tile.wide.text a {
    cursor: pointer;
}
.subtitles.metro .tile.wide.text a.label-success {
    cursor: default;
}
.subtitles.metro .tile .text-header {
    font-size: 24px;
}
.subtitles.metro .tile {
    background-color: #454446;
}
.subtitles.metro .tile:hover {
    outline: 3px solid #878688;
}
.subtitles.metro .tile .column3-info {
    display: block;
    position: absolute;
    background-color: #878688;
    padding: 0 10px;
    top: 0;
    right: 0;
}
.subtitles.metro .tile .column3-info.qualite1 {
    background-color: #B94A48;
}
.subtitles.metro .tile .column3-info.qualite2 {
    background-color: #f87c08;
    color: #000;
}
.subtitles.metro .tile .column3-info.qualite3 {
    background-color: #FFC40D;
    color: #000;
}
.subtitles.metro .tile .column3-info.qualite4 {
    background-color: #97a305;
}
.subtitles.metro .tile .column3-info.qualite5 {
    background-color: #468847;
}
.subtitles.metro .tile .column3-text {
    width: auto;
}