<div class='show'>
    <div class="page-header">
        <img ng-src="banner/{{ showId }}" image-fallback="{{ showId }}" overview="{{ showInfo.tvShow.overview }}">

        <div id="overview" class="panel fade-in" ng-show='overview'>
            <div class="panel-heading">
                {{ overview.header }}
                <button type="button" class="close" ng-click="hideOverview()">&times;</button>
            </div>
            {{ overview.content }}
        </div>
    </div>

    <div class="row" ng-class="{compact: compact}">
        <div class="seasonsList col-lg-3">
            <div class="list-group">
                <a class="list-group-item" ng-class="{active: !seasonFilter, seasonCompact: compact, ellipsis: !show}" ng-click="filter()">
                    <span ng-show="!compact" class="uncompacted">{{ 'SHOW_ALL' | translate }}</span>
                    <i class="glyphicon glyphicon-filter" title="{{ 'SHOW_ALL' | translate }}" tooltip></i>
                </a>
                <a class="list-group-item" ng-class="{active: seasonFilter == epList.season, seasonCompact: compact}" ng-repeat="epList in show" ng-click="filter(epList.season)">
                    <span ng-show="!compact" class="uncompacted">{{ 'SEASON' | translate }} </span>{{epList.season }}
                    <span ng-show="unsubs(epList.episodes) > 0 && !compact" class="uncompacted badge pull-right">{{ unsubs(epList.episodes) }}</span>
                </a>
            </div>
        </div>

        <div class="episodesList col-lg-9">
            <div class="panel list-group epListWrapper" ng-repeat="epList in show | seasonFilter: seasonFilter">
                <div class="panel-heading">
                    <span ng-show="!compact" class="uncompacted">{{ 'SEASON' | translate }} </span>{{ epList.season }}
                </div>
                <div ng-repeat="ep in epList.episodes" class="episode alert list-group-item" ng-class="{'alert-success': ep.subtitle}">
                    <a ng-click="searchSubs($event)">
                        <span ng-show="compact">{{ ep.episode | decimalFormat }}</span>
                        <span ng-show="!compact" class="name ellipsis">{{ ep.name }}</span>
                    </a>
                    <i ng-show="!compact" class="glyphicon glyphicon-info-sign pull-right" ng-show="showInfo" overview></i>
                    <i ng-show="ep.subtitle && !compact" class="glyphicon glyphicon-paperclip pull-right"></i>
                </div>
            </div>
        </div>

        <div class="subtitlesList fade-in" ng-class="{'col-lg-10 in': compact}" ng-show="subtitlesListShow">
            <div class="panel">
                <div class="panel-heading">
                    {{ selectedEpisode.name }}
                    <button type="button" class="close" ng-click="expand()">&times;</button>
                    <loader loader-id="subtitles" class="pull-right"></loader>
                </div>
                <div ng-show="subList.length == 0 && loadingDone">{{ 'NO_RESULT' | translate }}</div>
                <div class="panel list-group subPackWrapper fade-in" ng-repeat="subPack in subList | qualitySort">
                    <div class="panel-heading qualite{{ subPack.quality }}">
                        <span class="label pull-right qualite{{ subPack.quality }}">{{ 'SOURCE' | translate }}: {{ subPack.source }}</span>
                        {{ subPack.file }}
                    </div>
                    <a ng-repeat="sub in subPack.content" class="subtitle list-group-item" ng-click="downloadSub($event)">
                        <span class="name"><span class="label">{{ sub.score }}</span> {{ sub.name }}</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>