extends layout

block content
	include nav
	div.content
		h1 SickBeard History
		p Last downloaded episodes :
		ul
			- for (var i in episodes)
				li
					span= episodes[i].date + ' - '
					a(href='/show/'+episodes[i].tvdbid)= episodes[i].show_name
					span= ' - ' + episodes[i].season + 'x' + (episodes[i].episode < 10 ? '0' + episodes[i].episode : episodes[i].episode)