header#nav-bar.container-fluid
	div.row-fluid
		div.pull-left
			div#header-container
				- if(currentUrl != '/')
					a#backbutton.win-backbutton(href="/")
					h5 Go back
				- if(typeof shows != 'undefined')
					div.dropdown
						a.header-dropdown.dropdown-toggle(data-toggle="dropdown", href="#") TV Shows
							b.caret
						ul.dropdown-menu
							each show in shows
								li
									a(href='/show/'+show.id)= show.show_name
		div#top-info.pull-right
			if snParams.sickbeardUrl != '' && snParams.sickbeardApiKey != ''
				a.pull-left(href="/history", title="SickBeard History", rel="tooltip", data-placement="left")
					b.icon-history
			a#settings.pull-right(href="#", title="Settings", rel="tooltip", data-placement="right")
				b.icon-settings
			//a.pull-left(href="#")
					div.top-info-block
						h3 FirstName
						h4 LastName
					div.top-info-block
						b.icon-user
			//hr.separator.pull-left
		div.align-center
			if snParams.sickbeardUrl != '' && snParams.sickbeardApiKey != '' && typeof showId != 'undefined'
				img(src="/banner/"+showId)
			else
				a(href="/")
					img.logo(src="/img/subnode.png")


div#charms.win-ui-dark
	div#theme-charms-section.charms-section
		div.charms-header
			a.close-charms.win-command(href="#")
				span.win-commandimage.win-commandring &#xe05d;
			h2 Settings

		include config