header#nav-bar.container-fluid
	div.row-fluid
		- if(typeof showFiles != 'undefined')
			div.pull-left
				div#header-container
					a#backbutton.win-backbutton(href="/")
					h5 Go back
					div.dropdown
						a.header-dropdown.dropdown-toggle(data-toggle="dropdown", href="#") TV Shows
							b.caret
						ul.dropdown-menu
							each show in shows
								li
									a(href='/show/'+show)= show
		div.align-center
			span.win-commandimage.win-commandring &#xe1fe;
			h1 subNode
		div#top-info.pull-right
			//a.pull-left(href="#")
				div.top-info-block
					h3 FirstName
					h4 LastName
				div.top-info-block
					b.icon-user
			//hr.separator.pull-left
			a#settings.pull-left(href="#")
				b.icon-settings

div#charms.win-ui-dark
	div#theme-charms-section.charms-section
		div.charms-header
			a.close-charms.win-command(href="#")
				span.win-commandimage.win-commandring &#xe05d;
			h2 Settings

		include config