extends layout

block content
	div.container-fluid
		div.row-fluid.wizard
			div.tabbable.tabs-left#wizard-steps-container
				h2 Wizard Title
				ul.nav.nav-tabs
					li
						a Step 1 lorem ipsum
					li.active
						a Step 2 lorem ipsum
					li
						a Step 3 lorem ipsum

				div.tab-content
					div.tab-pane#wizard-step-content1
						section
							h2 Step 1
							h3 Subtitle

							block form
					div.tab-pane.active#wizard-step-content2
						section
							h2 Step 2
							h3 Subtitle
								block form
					div.tab-pane#wizard-step-content3
						section
							h2 Step 3
							h3 Subtitle
								block form


		footer.win-ui-dark.win-commandlayout.navbar-fixed-bottom
			div.container
				div.row
					div.span12.align-right

						button.win-command
							span.win-commandimage.win-commandring &#xe1cd;
							span.win-label Previous

						button.win-command
							span.win-commandimage.win-commandring &#xe1ca;
							span.win-label Next